<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<h2><a href="http://preethisrinivasan.github.io">Preethi Srinivasan</a></h2>
			<header class="info">
				<ul>
					<li><a href="mailto:preethisrinivasan93@gmail.com">email</a> &nbsp</li>
					<li><a href="https://github.com/PreethiSrinivasan">git</a> &nbsp</li>
					<li><a href="https://www.linkedin.com/in/preethis1/">linkedin</a> &nbsp</li>
					<li><a href="https://drive.google.com/open?id=0B_U3vrMN05B7cjhEWUdIczdvV28">cv</a> &nbsp</li>
				</ul>
			<header>
			<nav>
	    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/Research">Research</a></li>
				<li> <a href="/Projects"> Projects </a> </li>
        		<!--<li><a href="/projects">Projects</li !-->
	    		</ul>
			</nav>
			</br>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			</br>

		</body>
	</html>
