<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<h2><a href="https://shravyags.github.io/">Shravya Gorur Sheshadri</a></h2>
			<header class="info">
				<ul>
					<li><a href="mailto:gorurshe@usc.edu">email</a> &nbsp</li>
					<li><a href="https://github.com/shravyags">git</a> &nbsp</li>
					<li><a href="https://www.linkedin.com/in/shravya-g-s/">linkedin</a> &nbsp</li>
					<li><a href="https://drive.google.com/file/d/1oYXBmt5a4t8FKE8pI96qkxUIUNgE_xdO/view?usp=sharing">cv</a> &nbsp</li>
				</ul>
			<header>
			<nav>
	    		<ul>
        		<li><a href="/">Home</a></li>
	        	<!-- <li><a href="/about">About</a></li> -->
        		<!-- <li><a href="/Research">Research</a></li> -->
				<!-- <li> <a href="/Projects"> Projects </a> </li> -->
        		<!--<li><a href="/projects">Projects</li !-->
	    		</ul>
			</nav>
			</br>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			</br>

		</body>
	</html>
